<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="padding: 0px !important;">
      <mat-toolbar style="    background: #560072;
      color: #ffffff;">
        <span routerLink="" style="cursor: pointer;">Book Store Management</span>
        <span class="example-spacer"></span>
            <mat-icon style="cursor: pointer;" routerLink="" class="mx-2">home</mat-icon>
            <mat-icon style="cursor: pointer;" routerLink="search" class="mx-2">search</mat-icon>
      </mat-toolbar>
  </div>
</div>
</div>
  <router-outlet></router-outlet>