<div *ngIf="book" class="container p-4" style="width:100%">
    <h4 mat-dialog-title style="font-weight: 500;">Edit Your Record </h4>
    <form #bookForm="ngForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Book Name</mat-label>
          <input matInput  name="name" #nameCtrl="ngModel" 
          [(ngModel)]="book.name" placeholder="Book Name" >
          <mat-icon matSuffix>book</mat-icon>
          <mat-hint>Edit book name</mat-hint>
        </mat-form-field>        
      </div>

      <div class="form-group">
        <mat-form-field  class="example-full-width"  appearance="outline">
          <mat-label >Author</mat-label>
          <input matInput  name="author"  #authorCtrl="ngModel"
          [(ngModel)]="book.author" placeholder="Author Name"  >
          <mat-icon matSuffix>man</mat-icon>
          <mat-hint>Edit author name</mat-hint>
        </mat-form-field>        
      </div>
  
      <div class="form-group">
      
          <label class="label">Select Category</label>
          <select  name="genre" #genreCtrl=ngModel 
          [(ngModel)]="book.genre" >
            <option value="Novel" >Novel</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Biography">Biography</option>
          </select>
      
        </div>
      <div class="form-group mt-4">
        <mat-form-field class="example-full-width" appearance="outline" floatLabel="always">
          <mat-label>Amount</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0" name="price" #priceCtrl="ngModel" 
          [(ngModel)]="book.price">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        </div>

  
      <div class="form-group float-right">
       <button mat-raised-button  color="accent" type="submit"  [disabled]="!bookForm.valid">
          <i class="bi bi-plus"></i>Update Book</button>
       </div>
    </form>
  </div>
  